# ansible-lint / ansible-compat scratch
.ansible/
*.retry

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.tox/
.venv/

# Molecule
.molecule/

# Vagrant (molecule vm-cluster scenario)
.vagrant/
*.box
